@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App {
    width: 100%;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
}